# Node.js 関連
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
*.gz
*.out
coverage/
.DS_Store
.env
.env.local
.env.development
.env.production
.env.test
.env.*.local
.npmrc

# バックエンド（Express.js）関連
/dist/
build/
tmp/
logs/
*.sqlite
*.sqlite-journal

# フロントエンド（React）関連
**/node_modules/
**/.next/
**/.nuxt/
**/.angular/
**/.svelte/
**/.expo/
**/.vite/
**/.parcel-cache/
**/.vercel/
**/.netlify/
**/dist/
**/build/
.vscode/
.idea/
*.swp
*.swo
public/static/
public/assets/
coverage/
*.map
*.lock
*.cache
storybook-static/
.next/
out/
.eslintcache
.jest/
stylelintcache

# OS, IDE関連
*.sublime-workspace
*.sw?
*.swp
*.swo
*.viminfo
*.vscode/
*.idea/
*.iml

# MongoDB関連
*.pem
*.key
*.crt
mongodb-data/
mongod.lock
dump/
*.rdb

# その他の不要なファイル
*.bak
*.seed
*.orig
*.rej
*.swp
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
*.zip
*.tar
*.tar.gz
*.7z
*.rar
repomix*
